/* CUSTOMS FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.topnav {
    height: 10vh;
    overflow: hidden;
    border-bottom: 1px solid #cacaca;
}

.topnav h1 {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    top: 20px;
    left: 80px;
    font-size: 2.5rem;
    color: #f81d9d;
}

.topnav .link {
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    position: relative;
    top: 17px;
    left: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.topnav .link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #f81d9d;
}

.topnav input[type=text] {
    margin-left: 50%;
    margin-right: 50%;
    font-size: 1rem;
    height: 30px;
    position: relative;
    top: -25px;
    border: 1px solid #000;
    color: #f81d9d;
    padding: 5px;
}

.topnav ::placeholder {
    color: #f81d9d
}

.dark-mode input[type=text] {
    background-color: #000;
    border: 1px solid #fff;
    color: #f81d9d
}

.dark-mode ::placeholder {
    color: #f81d9d;
}

.hamburger-icon {
    display: none;
}

.darkmode {
    position: absolute;
    right: 650px;
    top: 35px;
    width: 40px;
}

.darkmode:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.dark-mode .link{
    color: #fff;
}

.dark-mode .user-info a {
    color: #fff;
}

.user-info {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 60px;
}

.user-info .login {
    text-decoration: none;
    text-underline-offset: 5px;
    color: #000;
    position: relative;
    top: 30px;
    font-size: 1.25rem;
    padding-left: 20px;
}

.user-info .login:hover {
    text-decoration: underline;
    text-decoration-color: #f81d9d;
}

.login-form {
    width: 700px;
    height: 300px;
    border: 5px solid #f81d9d;
    position: absolute;
    top: 200px;
    left: 500px;
    padding: 20px;
    text-align: center;
}

.login-form input {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    position: relative;
    top: 80px;
}

.login-form ::placeholder {
    color: #000;
}

.hero-call-to-act-login{
    color: #000;
    border: 1px solid #000;
    position: absolute;
    left: 620px;
    top: 450px;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #f81d9d;
    background-color: #fff;   
    font-weight: 600; 
    transition: all 0.3s ease;
}

.hero-call-to-act-register {
    color: #000;
    border: 1px solid #000;
    position: absolute;
    left: 920px;
    top: 450px;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #f81d9d;
    background-color: #fff;   
    font-weight: 600; 
    transition: all 0.3s ease;
}

.hero-call-to-act-login:hover, .hero-call-to-act-register:hover {
    cursor: pointer;
    background-color: #f81d9d;
    color: #fff;
    transform: scale(1.1);
}

/* DARK MODE */
.dark-mode .hero-call-to-act {
    color: #f81d9d;
    background-color: #000;
    border: 1px solid #fff;
}

.dark-mode .hero-call-to-act:hover {
    background-color: #f81d9d;
    color: #fff;
}